// Variables
$white: #fff;
$text: #3C4858;
$gray: #6c757d;
$black: #000;
$black-light: #333;
$red: #c5322f;
$orange: #e87514;
$green: #3c8c3f;
$light-red: #f5c6cb;
$light-orange: #ffd4ae;
$light-green: #c3e6cb;
$bg-light: #eee;
$bg-dark: #1e1d21;
$bg-panel: #262529;

// Gradients
// $bg-primary: linear-gradient(60deg, #ab47bc, #8e24aa);
// $bg-success: linear-gradient(60deg, #66bb6a, #43a047);
// $bg-danger: linear-gradient(60deg, #ef5350, #e53935);
// $bg-info: linear-gradient(60deg, #26c6da, #00acc1);
// $bg-table: linear-gradient(60deg, #ec407a, #d81b60);
// $bg-chart: linear-gradient(60deg, #ffa726, #fb8c00);

$bg-primary: linear-gradient(45deg, #ab47bc, #007bff);
$bg-success: linear-gradient(45deg, #43a047, #b9cb20);
$bg-danger: linear-gradient(45deg, #ee0979, #fba200);
$bg-info: linear-gradient(45deg, #00acc1, #3cef8c);
$bg-table: linear-gradient(45deg, #d81b60, #f174c5);
$bg-chart: linear-gradient(45deg, #fb8c00, #f9cb49);

$bg-red: linear-gradient(45deg, #f5c6cb, #f9d4d8);
$bg-orange: linear-gradient(45deg, #ffd4ae, #fddec2);
$bg-green: linear-gradient(45deg, #c3e6cb, #cfe8d5);

$bg-itemList: linear-gradient(to right, #92deff, #b3ff9a, #ff95f5);

$shadow-primary: 0 4px 20px 0 rgba(0, 0, 0,.14), 0 7px 10px -5px rgba(156, 39, 176,.4);
$shadow-success: 0 4px 20px 0 rgba(0, 0, 0,.14), 0 7px 10px -5px rgba(76, 175, 80,.4);
$shadow-danger: 0 4px 20px 0 rgba(0, 0, 0,.14), 0 7px 10px -5px rgba(244, 67, 54,.4);
$shadow-info: 0 4px 20px 0 rgba(0, 0, 0,.14), 0 7px 10px -5px rgba(0, 172, 193,.4);
$shadow-table: 0 4px 20px 0 rgba(0, 0, 0,.14), 0 7px 10px -5px rgba(233, 30, 99,.4);
$shadow-chart: 0 4px 20px 0 rgba(0, 0, 0,.14), 0 7px 10px -5px rgba(255, 152, 0,.4);
$box-shadow: 0 7px 14px rgba(0,0,0,.1);

// Breakpoints
$breakpoint-desktop: 1200px;
$breakpoint-laptop: 992px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 640px;

// Placeholders
%cardHeader{
    font-size: 1.3em;
    letter-spacing: 0.3px;
}

// Common Style
*{
    margin: 0;
    padding: 0;
}
a, button{
    &:focus, &:active{
        text-decoration: none !important;
        outline: none !important;
        box-shadow: none !important;
    }
}
ul{
    li{
        list-style: none;
    }
}
body {
    background: url(../img/pattern.png);
    color: $text;
	line-height: 1;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    @media screen and (max-width: $breakpoint-mobile){
        font-size: 12px;
    }
}

// Main Style
nav{
    box-shadow: $box-shadow;
    ul.navbar-nav{
        a.nav-link{
            font-size: 14px;
        }
    }
    .navbar-brand{
        font-size: 1.42em;
        sup{
            animation: blink 2s linear infinite;
            color: $red;
        }
        @keyframes blink {
            50% {opacity: 0.2;}
        }
    }
}
#cards{
    img.covid19-logo{
        width: 300px;
        @media screen and (max-width: $breakpoint-mobile){
            width: 200px;
        }
    }
    h1{
        font-size: 1.6em;
    }
    marquee{
        letter-spacing: 1px;
    }
    .card {
        border: none;
        @media screen and (max-width: $breakpoint-mobile) {
            min-height: 181px;
        }
        &:hover{
            box-shadow: 0 14px 26px -12px rgba(153, 153, 153, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(153, 153, 153, 0.2);
        }
        &.bg-primary{
            background: $bg-primary;
            box-shadow: $shadow-primary;
        }
        &.bg-success{
            background: $bg-success;
            box-shadow: $shadow-success;
        }
        &.bg-danger{
            background: $bg-danger;
            box-shadow: $shadow-danger;
        }
        &.bg-info{
            background: $bg-info;
            box-shadow: $shadow-info;
        }
        .card-header{
            @extend %cardHeader;
            @media screen and (max-width: $breakpoint-mobile){
                i.fas {
                    display: block;
                }
            }
        }
        .card-body{
            .card-title{
                font-size: 1.75em;
                sub{
                    font-size: 0.5em;
                }
            }
            .card-text{
                line-height: 1.2em;
            }
        }
    }
}

#updates{
    margin-bottom: -110px;
    .items-list{
        background: $bg-itemList;
        box-shadow: $box-shadow;
        .item{
            @media screen and (max-width: $breakpoint-mobile){
                img{
                    width: 60px;
                }
            }
            .item-body{
                h5{
                    font-size: 1em;
                }
            }
        }
    }
}

#chats{
    background: url(../img/skyline-background.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 110px;
    @media screen and (max-width: $breakpoint-mobile){
        background: linear-gradient(45deg,  #2c3e50, #4ca1af);
    }
    .card{
        box-shadow: $shadow-chart;
        .card-header{
            background: $bg-chart;
            @extend %cardHeader;
        }
        &.daily-spread{
            box-shadow: $shadow-table;
            .card-header{
                background: $bg-danger;
            }
        }
        text.highcharts-credits{
            display: none;
        }
    }
}

#districtTable{
    .card{
        box-shadow: $shadow-table;
        .card-header{
            background: $bg-table;
            @extend %cardHeader;
        }
        table{
            tbody#tableData{
                tr{
                    &.Red{background: $bg-red;color: $red;}
                    &.Orange{background: $bg-orange;color: $orange;}
                    &.Green{background: $bg-green;color: $green;}
                    td:not(:first-child()){
                        color: $black;
                    }
                }
            }
            &.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]{
                &.Red>td:first-child:before{background-color: $red;}
                &.Orange>td:first-child:before{background-color: $orange;}
                &.Green>td:first-child:before{background-color: $green;}
            }
        }
    }
}

footer{
    line-height: 1.5;
    color: $white;
    a{
        color: $orange;
        &:hover{
            color: $orange;
        }
    }
    ul.share{
        li{
            display: inline-block;
            margin: 0 3px;
            img{
                width: 30px;
                height: 30px;
            }
        }
    }
}

#tips{
    h1.title {
        font-size: 1.6em;
    }
    .card{
        .card-header{
            font-size: 1.2em;
            background: $bg-danger;
            color: $white;
        }
        .card-body{
            color: $text;
            line-height: 1.5;
        }
    }
}